.App {
  text-align: center;
  width: 550px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F55A5A;
  min-height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFFFF;
  font-size: 15px;
  line-height: 18px;
  gap: 10px
}

header > p {
  font-weight: 500;
}

img {
  width: 125px;
  height: 168px;
  border-radius: 5px;
  object-fit: cover;
}

.card-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 450px;
  max-height: 200px;
  margin: auto;
  margin-top: 30px;
  gap: 15px;
  
}

a{
  color: #918E9B;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
}
.location {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
}

.title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30.26px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.description {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  text-align: left;
  
}
.date {
  text-align: left;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  
}

#globe {
  width: 24px;
  height: 24px;
}

.location-icon {
  color: #F55A5A;
  
}

.country {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
